.CSSTransform {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CSSTransform-controls {
  width: 50vw;
}

.CSSTransform-controls h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #838383;
  margin-bottom: 3.5rem;
}

.CSSTransform label {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .CSSTransform {
    display: flex;
    flex-wrap: wrap;
  }
  .CSSTransform-controls {
    width: 90vw;
    margin-bottom: 2rem;
  }
}
